 body {
     background-color: black;
 }

 .white1 {
    width: 450px;
    height:450px;
    background-color: white;
    position: absolute;
    top: 4px;
    right:215px;
   border:15px groove black ;
    
}  


.red {
    width: 450px;
    height: 450px;
    background-color: red;
    position: absolute;
    right: 680px;
    top: 4px;
    border:15px groove black ;
}

.white2 {
    width: 450px;
    height:450px;
    background-color: white;
    position: absolute;
    right:680px;
    top: 469px;
    border:15px groove black ;
}

.white3 {
    width: 350px;
    height: 350px;
    background-color: white;
    position: absolute;
    right: 315px;
    top: 469px;
    border:15px groove black ;
}

.yellow {
    width: 167px;
    height: 85px;
    background-color: yellow;
    position: absolute;
    right: 498px;
    top: 832px;
    border:15px groove black ;
}

.darkb {
    width: 167px;
    height: 85px;
    background-color: darkblue;
    position: absolute;
    right: 315px;
    top: 834px;
    border:15px groove black ;
}

.blue {
    width: 85px;
    height: 180px;
    background-color: lightseagreen;
    position: absolute;
    right: 215px;
    top: 469px;
    border:15px groove black ;
}

.white4 {
    width: 85px;
    height: 270px;
    background-color: white;
    position: absolute;
    right: 215px;
    top: 645px;
    border:15px groove black ;
}